.sprite_article_tkb_active_page {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -3px;
}

.sprite_article_asb_facebook {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -19px;
}

.sprite_article_tkb_zoom {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -20px -19px;
}

.sprite_article_tkb_close_new_comment {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -33px -19px;
}

.sprite_article_tkb_arrow_next {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -36px;
}

.sprite_article_tkb_arrow_prev {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -36px -36px;
}

.sprite_article_tkb_vote_for {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -69px -36px;
}

.sprite_article_tkb_vote_against {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -96px -36px;
}

.sprite_article_tkb_inactive_page {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -122px -36px;
}

.sprite_article_asb_newsletter {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -139px -36px;
}

.sprite_article_tkb_reply {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -153px -36px;
}

.sprite_article_tkb_new_comment {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -168px -36px;
}

.sprite_article_tkb_keyboard {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -181px -36px;
}

.sprite_article_tkb_double_arr_en {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -193px -36px;
}

.sprite_article_tkb_double_arr {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -203px -36px;
}

.sprite_article_tkb_vote_against_bg {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -65px;
}

.sprite_article_asb_mail_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -49px -65px;
}

.sprite_article_asb_cell_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -66px -65px;
}

.sprite_article_tkb_vote_for_bg {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -89px;
}

.sprite_article_tkb_arr_small_down {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -113px;
}

.sprite_article_tkb_arr_small_left {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -13px -113px;
}

.sprite_article_tkb_ynet_logo {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -123px;
}

.sprite_article_tkb_ynet_logo_en {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -120px -123px;
}

.sprite_article_asb_Paper_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -237px -123px;
}

.sprite_article_asb_send_tofriend_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -184px;
}

.sprite_article_asb_print_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -20px -184px;
}

.sprite_article_asb_lanayad_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -37px -184px;
}

.sprite_article_asb_comments_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -54px -184px;
}

.sprite_article_asb_google_plus {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -201px;
}

.sprite_article_asb_sep {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -218px;
}

.sprite_article_asb_tweeter {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -222px;
}

.sprite_article_chapter_blue_triangle {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -239px;
}

.sprite_article_article_image_zoom {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/22/sprites/article_v15.png' ) -3px -246px;
}

