/* ============ !style.css ================= */
/* ========================================= */

/* ============ !Main/General ============== */
/* ========================================= */

img_player {
	border-width:0px;
}

.visHidden {
	visibility:hidden;
}
.disNone {
	display:none;
}
/* ============ !End of Main/General ======= */



/* ============ !Economy Wmv Player ======== */
/* ========================================= */

/* for new slider */
#bigPlayer .economyWmvMainContainer {height:399px;}
#bigPlayer .economyWmvControlsMute {margin-right:7px;}
#bigPlayer .economyWmvControls{ width:433px; left:2px;}
#bigPlayer .economyWmvControlsFs{ padding-right:40px;}
/*End new slider */

.economyWmvMainContainer {
	width:465px;
	height:391px;
	position:relative;
	margin:0px auto 2px auto;
	background-color:#E8EBEB;
	text-align:center;
	overflow:hidden;
}
.economyWmvTop {
	width:263px;
	height:16px;
	position:relative;
	margin:0px;
	background-position:top;
	background-repeat:no-repeat;
	overflow:hidden;
}
.economyWmvPlayer {
	width:429px;
	height:320px;
	position:relative;
	margin:0px auto 0px auto;
	text-align:right;
	direction:rtl;
	color:#ffffff;
	background-color:#000000;
	background-position:top;
	background-repeat:no-repeat;
	overflow:hidden;
	border: solid 2px #ffffff;
}
.economyWmvPlayer a, .economyWmvPlayer a:hover {
	color:#ffffff;
	text-decoration:none;

}
.economyWmvDiv {
	width:429px;
	height:320px;
	position:relative;
	margin:1px;
	overflow:hidden;
}
.economyWmvBottom {
	width:429px;
	height:45px;
	margin:0px auto 0px auto;
	padding-top: 5px;
	text-align: center;
}
/* Title */
.economyWmvTitle {
	width:137px;
	height:22px;
	line-height:22px;
	padding-right:17px;
	float:right;
	text-align:right;
	direction:rtl;
	font-weight:bold;
	color:#000000;
	overflow:hidden;
}
/* End of Title */

/* Link */
.economyWmvLink {
	width:92px;
	height:22px;
	line-height:22px;
	padding-left:17px;
	float:left;
	direction:rtl;
	color:#e20915;
	text-align:left;
}
.economyWmvLink a, .economyWmvLink a:hover {
	color:#e20915;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}
/* End of Link */

/* Advertiser */
.economyWmvAdvertiser {
	width:43px;
	height:27px;
	position:relative;
	background-image:url(/nrg/images/nrg/include/img/video_player/castup_logo.gif);
	background-position:0px 9px;
	background-repeat:no-repeat;
	overflow:hidden;
	float:right;

}
/* End of Advertiser */

/* Controls */
.economyWmvControls {
	width:429px;
	height:29px;
	position:relative;
	padding-top:6px;
}
.economyWmvControlsPlay,.economyWmvControlsPause {
	width:25px;
	height:25px;
	position:relative;
	float:left;
	padding-right:7px;
	
}
.economyWmvControlsStop {
	width:25px;
	height:25px;
	position:relative;
	float:left;
	padding-right:7px;
}
.economyWmvControlsVolumeContainer {
	width:75px;
	height:18px;
	padding-top:5px;
	position:relative;
	float:left;
	background-image:url(/nrg/images/nrg/include/img/video_player/vol_bg_right.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	padding-right:2px;

}
.economyWmvControlsVolumeLeft {
	width:7px;
	height:23px;
	position:relative;
	float:left;
	background-image:url(/nrg/images/nrg/include/img/video_player/vol_bg_left.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	margin-right:2px;
	overflow:hidden;
	display:none;
}
.economyWmvControlsVolumeRight {
	width:75px;
	height:23px;
	position:relative;
	float:left;
	background-image:url(/nrg/images/nrg/include/img/video_player/vol_bg_right.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	margin-right:12px;
	overflow:hidden;
}
.economyWmvControlsVolume img_player {
	position: absolute;
	top: 5px;
	right: 0px;
}
.economyWmvControlsMute {
	width:27px;
	height:23px;
	position:relative;
	float:left;
	margin-right:7px;
	margin-top: 5px;
	overflow:hidden;
}
.economyWmvControlsFs {
	width:25px;
	height:25px;
	position:relative;
	float:left;
	padding-right: 80px;
}
#economyWmvOnScreenPlay {
	position: absolute;
	width: 62px;
	height: 62px;
	top: 150px;
	left: 200px;
	cursor:pointer;
}

/* ============ !End of Economy Wmv Player = */
/* ========================================= */



/* ============ !Wmv Player Slider ========= */
/* ========================================= */
.fd-slider {
	position:relative;
	width:100%;
	height:16px;
	text-align:center;
	border:0 none;
	text-decoration:none;
	display:block;
	cursor:pointer;
}
.fd-slider-inner {

}
.fd-slider-bar {

}
.focused .fd-slider-inner {

}
.fd-slider-handle {
	position:absolute;
	display:block;
	padding:0;
	border:0 none;
	margin:0;
	z-index:3;
	top:0;
	left:0;
	width:6px;
	height:16px;
	outline:0px none;
	background:transparent url(/nrg/images/nrg/include/img/video_player/vol_control.gif) no-repeat 0px 0px;
	cursor:W-resize;
}
.fd-slider-handle:focus {
	outline:0px none;
	border:0 none;
}
button.fd-slider-handle:focus { 
	border-color: transparent; 
}

.fd-slider-hover .fd-slider-handle {
	background:transparent url(/nrg/images/nrg/include/img/video_player/vol_control.gif) no-repeat 0px 0px;
}
.focused .fd-slider-handle {
	background:transparent url(/nrg/images/nrg/include/img/video_player/vol_control.gif) no-repeat 0px 0px;
}
.focused.fd-slider-hover .fd-slider-handle {
	background:transparent url(/nrg/images/nrg/include/img/video_player/vol_control.gif) no-repeat 0px 0px;
}
body.W-resize-s *
        {
        cursor:W-resize !important;
        }
body.N-resize-s *
        {
        cursor:N-resize !important;
        }
/* ============ !End of Wmv Player Slider=== */

/* wmv Timeline */
#bigPlayer .videoTimer {font-size:1em; padding-top:5px; width:100px; margin-right:70px;}
#bigPlayer #sliderWrap {background-color:#fff; position:relative; width:433px; height:10px; padding:0px; margin-top:3px; margin-bottom:2px;float:right; margin-right:-2px;}
#bigPlayer .progressBar {position:absolute;left:0px; top:0px; width:0px; height:6px; margin-top:2px; background-color:#ccc; overflow:hidden;}
#bigPlayer .knob{position:absolute; left:0px; top:0px; width:7px; height:10px; margin-top:0px;}
#bigPlayer .knob img{cursor:pointer;}
/* End wmv timeline */