.sprite_homepage_header_home_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -3px;
}

.sprite_homepage_facebook_sharing_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -16px;
}

.sprite_homepage_header_facebook_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -27px -16px;
}

.sprite_homepage_header_logo_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -39px;
}

.sprite_homepage_calcalist_ticker_downn {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -147px -39px;
}

.sprite_homepage_footer_background {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -111px;
}

.sprite_homepage_homepagevideo1024new_bigplay {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -986px -111px;
}

.sprite_homepage_galleries_play_big {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1101px -111px;
}

.sprite_homepage_homevideox6_play_big {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1216px -111px;
}

.sprite_homepage_yediot_america_logo_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1309px -111px;
}

.sprite_homepage_homevideox6_play_small {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1455px -111px;
}

.sprite_homepage_malc_video_play_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1502px -111px;
}

.sprite_homepage_footer_tali_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1549px -111px;
}

.sprite_homepage_footer_ynet_shops_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1616px -111px;
}

.sprite_homepage_hmv_tab_hinuhit {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1735px -111px;
}

.sprite_homepage_footer_winwin_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1815px -111px;
}

.sprite_homepage_footer_net_games_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1922px -111px;
}

.sprite_homepage_footer_insurance_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2010px -111px;
}

.sprite_homepage_hmv_tab_pini {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2124px -111px;
}

.sprite_homepage_multi_galleries_arrow_left {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2204px -111px;
}

.sprite_homepage_multi_galleries_arrow_right {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2239px -111px;
}

.sprite_homepage_hmv_footer_sep {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2274px -111px;
}

.sprite_homepage_homepagevideo1024new_vod_logo {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2280px -111px;
}

.sprite_homepage_winwin_logo_v2 {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2366px -111px;
}

.sprite_homepage_header_search_bgr {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2489px -111px;
}

.sprite_homepage_header_weather_bgr {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2778px -111px;
}

.sprite_homepage_header_sep {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2858px -111px;
}

.sprite_homepage_hmv_play_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2863px -111px;
}

.sprite_homepage_homepagelitevideo_arrow_right {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2885px -111px;
}

.sprite_homepage_galleries_send_to_friend {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2898px -111px;
}

.sprite_homepage_homepagelitevideo_arrow_left {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2968px -111px;
}

.sprite_homepage_galleries_facebook {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2981px -111px;
}

.sprite_homepage_multi_galleries_not_active {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3048px -111px;
}

.sprite_homepage_homepagelitevideo_bullet {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3065px -111px;
}

.sprite_homepage_multiquotes_quote {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3080px -111px;
}

.sprite_homepage_homevideox6_video_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3096px -111px;
}

.sprite_homepage_malc_opinion_arrow {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3113px -111px;
}

.sprite_homepage_ticker_double_arrow_left {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3132px -111px;
}

.sprite_homepage_multi_articles_title_arrow {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3142px -111px;
}

.sprite_homepage_header_weather_bgr_en {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -639px;
}

.sprite_homepage_header_radio {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -663px;
}

.sprite_homepage_gen_inf_label {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -696px;
}

.sprite_homepage_hmv_tab_cinema_on {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -156px -696px;
}

.sprite_homepage_hmv_tab_channel_8_on {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -236px -696px;
}

.sprite_homepage_hmv_tab_pini_on {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -316px -696px;
}

.sprite_homepage_hmv_tab_hot_bidur_on {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -396px -696px;
}

.sprite_homepage_hmv_tab_hot_items_on {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -476px -696px;
}

.sprite_homepage_hmv_tab_kids_on {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -556px -696px;
}

.sprite_homepage_hmv_tab_hinuhit_on {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -636px -696px;
}

.sprite_homepage_hmv_tab_bg_on {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -716px -696px;
}

.sprite_homepage_hmv_tab_hot_on {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -796px -696px;
}

.sprite_homepage_header_red_background {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -876px -696px;
}

.sprite_homepage_multi_images_border_center {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -750px;
}

.sprite_homepage_homepagevideo1024new_smallpic_side_shade_l {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -7px -750px;
}

.sprite_homepage_homepagevideo1024new_smallpic_side_shade_r {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -57px -750px;
}

.sprite_homepage_homepagevideo1024new_big_vid_shade {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -107px -750px;
}

.sprite_homepage_homepagevideo1024new_big_vod_shade {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -111px -750px;
}

.sprite_homepage_calcalist_logo_hp {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -774px -750px;
}

.sprite_homepage_footer_professional_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -938px -750px;
}

.sprite_homepage_footer_radware_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1039px -750px;
}

.sprite_homepage_footer_akamai_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1122px -750px;
}

.sprite_homepage_footer_total_media_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1185px -750px;
}

.sprite_homepage_footer_acum_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1281px -750px;
}

.sprite_homepage_footer_realcommerce_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1360px -750px;
}

.sprite_homepage_calcalist_bg_ticker {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1476px -750px;
}

.sprite_homepage_footer_channels_title {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1568px -750px;
}

.sprite_homepage_footer_about_title {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -1880px -750px;
}

.sprite_homepage_hmv_ticker_channel8 {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2192px -750px;
}

.sprite_homepage_hmv_ticker_bidur_news {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2237px -750px;
}

.sprite_homepage_footer_all_rights {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2282px -750px;
}

.sprite_homepage_teaser_quote_right {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2467px -750px;
}

.sprite_homepage_footer_tools_title {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -2493px -750px;
}

.sprite_homepage_footer_network_title {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3034px -750px;
}

.sprite_homepage_homepagelitevideo_sep {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3113px -750px;
}

.sprite_homepage_shimushon_arrow_left {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3117px -750px;
}

.sprite_homepage_shimushon_arrow_right {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3125px -750px;
}

.sprite_homepage_teaser_quote_left {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -899px;
}

.sprite_homepage_malc_quote_left {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -920px;
}

.sprite_homepage_malc_quote_right {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -21px -920px;
}

.sprite_homepage_hmv_ticker_trace {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -935px;
}

.sprite_homepage_winwin_sep {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -48px -935px;
}

.sprite_homepage_winwin_sep_v2 {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -957px;
}

.sprite_homepage_winwin_logo {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -967px;
}

.sprite_homepage_winwin_single_arrow_left {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -51px -967px;
}

.sprite_homepage_homevideox6_footer_back {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -987px;
}

.sprite_homepage_footer_ynet_tours_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -15px -987px;
}

.sprite_homepage_hmv_tab_cinema {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -140px -987px;
}

.sprite_homepage_hmv_tab_channel_8 {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -220px -987px;
}

.sprite_homepage_hmv_tab_hot_bidur {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -300px -987px;
}

.sprite_homepage_hmv_tab_hot {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -380px -987px;
}

.sprite_homepage_hmv_tab_bg {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -460px -987px;
}

.sprite_homepage_hmv_tab_kids {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -540px -987px;
}

.sprite_homepage_homevideox6_footer_delimeter {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -620px -987px;
}

.sprite_homepage_hmv_ticker_zoom {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -625px -987px;
}

.sprite_homepage_mynet_double_arrow_left {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -670px -987px;
}

.sprite_homepage_marketing_recommended_sep {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -682px -987px;
}

.sprite_homepage_footer_cisco_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1025px;
}

.sprite_homepage_mynet_mynet_logo {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -46px -1025px;
}

.sprite_homepage_hmv_back {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1059px;
}

.sprite_homepage_bigdeal_btn_bg_gray {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -726px -1059px;
}

.sprite_homepage_facebook_like_count_bg {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -817px -1059px;
}

.sprite_homepage_bigdeal_price_bg {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1462px;
}

.sprite_homepage_bigdeal_btn_bg_blue {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -215px -1462px;
}

.sprite_homepage_bigdeal_logo {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1498px;
}

.sprite_homepage_bigdeal_white_bg {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1535px;
}

.sprite_homepage_footer_big_deal_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1562px;
}

.sprite_homepage_hmv_ticker_hinuchit23 {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -94px -1562px;
}

.sprite_homepage_bigdeal_separator {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -139px -1562px;
}

.sprite_homepage_homepagevideo1024new_logo_mafrid_top {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -143px -1562px;
}

.sprite_homepage_homepagevideo1024new_next {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1600px;
}

.sprite_homepage_galleries_black_arrow_left {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -54px -1600px;
}

.sprite_homepage_galleries_black_arrow_right {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -89px -1600px;
}

.sprite_homepage_bigdeal_arrow_left {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -124px -1600px;
}

.sprite_homepage_bigdeal_arrow_right {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -159px -1600px;
}

.sprite_homepage_calcalist_ticker_upn {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1656px;
}

.sprite_homepage_multi_galleries_active {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1669px;
}

.sprite_homepage_multi_galleries_play_big {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1685px;
}

.sprite_homepage_multi_galleries_play_small {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -86px -1685px;
}

.sprite_homepage_galleries_play_small {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -129px -1685px;
}

.sprite_homepage_homepagevideo1024new_sm_play {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -171px -1685px;
}

.sprite_homepage_gallery_camera_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -213px -1685px;
}

.sprite_homepage_footer_channel_separator {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1768px;
}

.sprite_homepage_footer_yit_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1772px;
}

.sprite_homepage_footer_ynet_studio_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1805px;
}

.sprite_homepage_homepagevideo1024new_priv {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1837px;
}

.sprite_homepage_footer_activetrail_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -54px -1837px;
}

.sprite_homepage_twitter_sharing_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1893px;
}

.sprite_homepage_footer_tweeter_icon {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -27px -1893px;
}

.sprite_homepage_hmv_tab_hot_items {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1916px;
}

.sprite_homepage_hmv_ticker_ynet {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1953px;
}

.sprite_homepage_hmv_ticker_young {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1975px;
}

.sprite_homepage_hmv_ticker_hot3 {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -48px -1975px;
}

.sprite_homepage_hmv_ticker_good_life {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -93px -1975px;
}

.sprite_homepage_hmv_ticker_hot_bidur {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -138px -1975px;
}

.sprite_homepage_hmv_ticker_comedy_central {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -183px -1975px;
}

.sprite_homepage_hmv_ticker_ego {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -228px -1975px;
}

.sprite_homepage_hmv_ticker_hot {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -273px -1975px;
}

.sprite_homepage_hmv_ticker_reshet {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -1997px;
}

.sprite_homepage_hmv_ticker_channel1 {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2019px;
}

.sprite_homepage_hmv_ticker_cinema {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2041px;
}

.sprite_homepage_hmv_ticker_safari {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2063px;
}

.sprite_homepage_hmv_ticker_safari_kids {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -48px -2063px;
}

.sprite_homepage_hmv_ticker_fashion {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2085px;
}

.sprite_homepage_hmv_ticker_frogi {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2107px;
}

.sprite_homepage_hor_separator {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2129px;
}

.sprite_homepage_article_tags_arrow_left {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2133px;
}

.sprite_homepage_homepagelitevideo_play_big {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2162px;
}

.sprite_homepage_homepagelitevideo_play_small {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -89px -2162px;
}

.sprite_homepage_homepagelitevideo_play_over_big {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2248px;
}

.sprite_homepage_homepagelitevideo_play_over_small {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2334px;
}

.sprite_homepage_homepagevideo1024new_logo_hot3 {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2385px;
}

.sprite_homepage_homepagevideo1024new_logo_big_ynet {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2461px;
}

.sprite_homepage_homepagevideo1024new_logo_sm_ynet {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -146px -2461px;
}

.sprite_homepage_homepagevideo1024new_logo_sm_hot3 {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -220px -2461px;
}

.sprite_homepage_homepagevideo1024new_logo_mafrid_bottom {
    background: transparent url( 'https://www.ynet.co.il/PicServer5/2017/08/09/sprites/homepage_v39.png' ) -3px -2537px;
}

